
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@{
    bool checkBloodGroup(string bloodgroup)
    {
        if (Model != null && Model.BloodGroup != null)
        {
            if (bloodgroup.Equals(Model.BloodGroup)) return true;
        }
        return false;
    }
}
@{
    bool checkType(string type)
    {
        if (Model != null && Model.UserType != null)
        {
            if (type.Equals(Model.UserType)) return true;
        }
        return false;
    }
}
<br />
<br />
<br />
<br />
<h2>Add User</h2>
@if (ViewBag.Message != null)
{
    <br />
    <span class="text-danger">@ViewBag.Message</span>
    <br />
}
<form method="post">
    Name:<br /><input type="text" name="Name" value="@(Model == null ? "":Model.Name)" /><br />
    <span class="text-danger">@Html.ValidationMessage("Name")</span><br />
    Username:<br /><input type="text" name="Username" value="@(Model == null ? "":Model.Username)" /><br />
    <span class="text-danger">@Html.ValidationMessage("Username")</span><br />
    Date of Birth:<br /><input type="date" name="DateOfBirth" value="@(Model==null?" ":Model.DateOfBirth.Date.ToString("yyyy-MM-dd"))" /><br />
    <span class="text-danger">@Html.ValidationMessage("DateOfBirth")</span><br />
    Blood Group:<br /><select class="form-control" name="BloodGroup">
        <option selected disabled>Select</option>
        <option selected="@(checkBloodGroup("A+"))" value="A+">A+</option>
        <option selected="@(checkBloodGroup("A-"))" value="A-">A-</option>
        <option selected="@(checkBloodGroup("B+"))" value="B+">B+</option>
        <option selected="@(checkBloodGroup("B-"))" value="B-">B-</option>
        <option selected="@(checkBloodGroup("AB+"))" value="AB+">AB+</option>
        <option selected="@(checkBloodGroup("AB-"))" value="AB-">AB-</option>
        <option selected="@(checkBloodGroup("O+"))" value="O+">O+</option>
        <option selected="@(checkBloodGroup("O-"))" value="O-">O-</option>
    </select>
    <span class="text-danger">@Html.ValidationMessage("BloodGroup")</span><br />
    Password:<br /><input type="password" name="Password" value="@(Model == null ? "":Model.Password)" /><br />
    <span class="text-danger">@Html.ValidationMessage("Password")</span><br />
    Email:<br /><input type="text" name="Email" value="@(Model == null ? "":Model.Email)" /><br />
    <span class="text-danger">@Html.ValidationMessage("Email")</span><br />
    PhoneNo:<br /><input type="text" name="PhoneNo" value="@(Model == null ? "":Model.PhoneNo)" /><br />
    <span class="text-danger">@Html.ValidationMessage("PhoneNo")</span><br />
    User Type:<br /><select class="form-control" name="UserType">
        <option selected disabled>Select</option>
        <option selected="@(checkType("Admin"))" value="Admin">Admin</option>
        <option selected="@(checkType("Employee"))" value="Employee">Employee</option>
        <option selected="@(checkType("BandManager"))" value="BandManager">Band Manager</option>
        <option selected="@(checkType("GigManager"))" value="GigManager">GigManager</option>
    </select>
    <span class="text-danger">@Html.ValidationMessage("UserType")</span><br />
    <input type="submit" class="btn btn-success" value="Add" />

</form>

