<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MuMerch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("User Management", "UserList", "Admin")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Product Management <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Admin/CategoryList">Category</a></li>
                            <li><a href="~/Admin/SizeList">Size</a></li>
                            <li><a href="~/Admin/ColorList">Color</a></li>
                            <li><a href="~/Admin/UnitList">Unit</a></li>
                            <li><a href="~/Admin/ProductList">Product</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gig Management <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Admin/GigList">Gig</a></li>
                            <li><a href="~/Admin/GigManagerList">Gig Manager</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Band Management <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Admin/BandList">Band</a></li>
                            <li><a href="~/Admin/BandManagerList">Band Manager</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Customer Management", "AddCustomer", "Admin")</li>
                    <li>@Html.ActionLink("Order Management", "AddOrder", "Admin")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Admin/SalesReport">Sales Report</a></li>
                            <li><a href="~/Admin/MonthlyRevenueReport">Monthly Revenue Report</a></li>
                            <li><a href="~/Admin/MonthlyProductSales">Monthly Product Sales</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuration <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Admin/GradeList">Grade</a></li>
                            <li><a href="~/Admin/DesignationList">Designation</a></li>
                            <li><a href="~/Admin/DepartmentList">Department</a></li>
                            <li><a href="~/Admin/DivisionList">Division</a></li>
                            <li><a href="~/Admin/LocationList">Location</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>