
@{
    ViewBag.Title = "AddSize";
    Layout = "~/Views/Shared/_Employee.cshtml";
}

<h2>Add Size</h2>

@{
    bool checkIsActive(string prof)
    {
        if (Model != null && Model.IsActive != null)
        {
            if (prof.Equals(Model.IsActive)) return true;
        }
        return false;
    }
}

<form method="post">
    <table class="table table-hover">
        <tr>
            <td>Name:</td>
            <td>
                <input type="text" name="Name" value="@(Model == null ? "":Model.Name)" />
                <span class="text-danger">@Html.ValidationMessage("Name")</span>
            </td>
        </tr>

        <tr>
            <td>Measurement:</td>
            <td>
                <input type="text" name="Measurement" value="@(Model == null ? "":Model.Measurement)" />
                <span class="text-danger">@Html.ValidationMessage("Measurement")</span>
            </td>
        </tr>

        <td>IsActive :</td>
        <td>
            <input type="radio" checked=@(checkIsActive("true")) name="IsActive" value="true" />Yes
            <input type="radio" checked=@(checkIsActive("false")) name="IsActive" value="false" />No
            <span class="text-danger">@Html.ValidationMessage("IsActive")</span>
        </td>
        </tr>

        <tr>
            <td colspan="2">
                <input type="submit" class="btn btn-success" value="Save" />
            </td>
        </tr>
    </table>

</form>